@import './components/header/Header.css';
@import './components/main/Main.css';
@import './components/main/myPost/MyPost.css';
@import './components/UI/myButton/MyButton.css';
@import './components/UI/myInput/MyInput.css';
@import './components/UI/myModal/MyModal.css';
@import './components/header/burgerMenu/BurgerMenu.css';

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container{
  max-width:80%;
}
#root{
  display:flex;
  justify-content:center;
  flex-direction:column;
}


